<div class="page-header">
  <h2><%= @group.name %></h2>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Average</dt>
      <dd><%= @group.mean %></dd>

      <dt>Median</dt>
      <dd><%= @group.median %></dd>

      <dt>Standard Deviation</dt>
      <dd><%= @group.std_dev %></dd>

      <dt>5th Percentile</dt>
      <dd><%= @group.five %></dd>

      <dt>25th Percentile</dt>
      <dd><%= @group.twentyfive %></dd>

      <dt>50th Percentile</dt>
      <dd><%= @group.fifty %></dd>

      <dt>75th Percentile</dt>
      <dd><%= @group.seventyfive %></dd>

      <dt>95th Percentile</dt>
      <dd><%= @group.ninetyfive %></dd>

    <div class="btn-group btn-group-justified">
      <a href="/funds/<%= @group.id %>" class="btn btn-primary">List of Funds</a>
      <a href="/groups" class="btn btn-primary">Back</a>
    </div>
  </div>
</div>
