<html>
  <head>
  <style type="text/css">
  </style>
  </head>

<body>
<div class="page-header">
  <h1>Funds</h1>
</div>


<%= search_form_for @q do |f| %>

  <div class="form-group">
    <%= f.label :group_name_cont, "Group" %>
    <%= f.text_field :group_name_cont, :class => "form-control", :placeholder => "Enter group" %>
  </div>

  <h3>Narrow the list:</h3>

  <div class="form-group">
    <%= f.label :name_cont, "Fund Names" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name containing" %>
  </div>

  <div class="form-group">
    <%= f.label :score_gteq, "Active share greater than or equal to:" %>
    <%= f.text_field :score_gteq, :class => "form-control", :placeholder => "Enter value" %>
  </div>

  <div class="form-group">
    <%= f.label :score_lteq, "Active share less than or equal to:" %>
    <%= f.text_field :score_lteq, :class => "form-control", :placeholder => "Enter value" %>
  </div>

  <%= f.submit :class => "btn btn-primary" %>

  <a href="/funds">Clear</a>
<% end %>

<hr />


  <div class="row center spacing col-md-6">
    <table id="funds" class="table table-condensed table-striped table-hover">
      <thead>
        <tr>
          <th colspan="3">Name</th>
          <th colspan="2">Group</th>
          <th class="description" colspan="1">Active Share</th>
        </tr>
      </thead>
      <tbody>
      <% @funds.each do |fund| %>
        <tr>
          <td colspan="3"><a href="/funds/<%= fund.id %>"><%= fund.name %></a></td>
          <td colspan="2"><%= fund.group_name %></td>
          <td class="description" colspan="1"><%= fund.score %></td>
        </tr>
      <% end %>
      </tbody>
      <tfoot></tfoot>
    </table>
  </div>
</body>
</html>




