<html>
  <head>
  <style type="text/css">
  </style>
  </head>

<body>
<div class="page-header">
  <h1>Funds</h1>
</div>

<!-- Group Selection -->
  <div class="form-group">
    <label for="group_name" class="control-label">
    Group
    </label>
    <div class="form-group">
    <%= select_tag(:group_id, options_from_collection_for_select(Group.all, :id, :name, @group_id), :class => "form-control") %>
    </div>
  </div>

<%= search_form_for @q do |f| %>
  <p class="lead text-default">Narrow the list:</p>

  <div class="form-group">
    <%= f.label :name_cont, "Fund Names" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name containing" %>
  </div>

  <div class="form-group">
    <%= f.label :score_gteq, "Active share greater than or equal to:" %>
    <%= f.text_field :score_gteq, :class => "form-control", :placeholder => "Enter value" %>
  </div>

  <div class="form-group">
    <%= f.label :score_lteq, "Active share less than or equal to:" %>
    <%= f.text_field :score_lteq, :class => "form-control", :placeholder => "Enter value" %>
  </div>

  <%= f.submit :class => "btn btn-primary" %>

  <a href="/funds">Clear</a>
<% end %>

<hr />


  <div class="row center spacing col-md-4">
    <table id="funds" class="table table-condensed table-striped table-hover">
      <thead>
        <tr>
          <th colspan="3">Name</th>
          <th class="description" colspan="1">Active Share</th>
        </tr>
      </thead>
      <tbody>
      <% @funds.each do |fund| %>
        <tr>
          <td colspan="3"><a href="/funds/<%= fund.id %>"><%= fund.name %></a></td>
          <td class="description" colspan="1"><%= fund.score %></td>
        </tr>
      <% end %>
      </tbody>
      <tfoot></tfoot>
    </table>
  </div>
</body>
</html>




