<div class="page-header">
  <h1>
    Funds
    <a href="/funds/new" class="btn btn-lg btn-success">New Fund</a>
  </h1>
</div>

<%= search_form_for @q do |f| %>
  <p class="lead">Narrow the list:</p>

  <div class="form-group">
    <%= f.label :name_cont, "Fund Names" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name containing" %>
  </div>

  <div class="form-group">
    <%= f.label :score_gteq, "Active share greater than or equal to:" %>
    <%= f.text_field :score_gteq, :class => "form-control", :placeholder => "Enter value" %>
  </div>

  <div class="form-group">
    <%= f.label :score_lteq, "Active share less than or equal to:" %>
    <%= f.text_field :score_lteq, :class => "form-control", :placeholder => "Enter value" %>
  </div>

  <%= f.submit :class => "btn btn-primary btn-block" %>

  <a href="/funds" class="btn btn-default btn-block">Clear filters</a>
<% end %>


<table id="funds">
  <thead>
    <tr>
      <th>Name</th>
      <th>Active Share</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @funds.each do |fund| %>
    <tr>
      <td><%= fund.name %></td>
      <td><%= fund.score %></td>
      <td><a href="/funds/<%= fund.id %>" class="btn btn-primary">Details</a></td>
    </tr>
  <% end %>
  </tbody>
</table>



