<div class="page-header">
  <h2><%= @fund.name %></h2>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Active Share</dt>
      <dd><%= @fund.score %></dd>

      <dt>Group Name</dt>
      <dd><%= @fund.group_name %></dd>

      <dt>Ticker</dt>
      <dd><%= @fund.ticker %></dd>

      <dt>Inception Date</dt>
      <dd><%= @fund.inception_date %></dd>

      <dt>Portfolio Date</dt>
      <dd><%= @fund.portfolio_date %></dd>

      <dt>Equity Percentage</dt>
      <dd><%= @fund.equity_percentage %></dd>

      <dt>Holdings</dt>
      <dd><%= @fund.holdings %></dd>

   <!-- Label and input for notes -->
    <div class="form-group">

      <label for="notes" class="control-label">
        My Notes
      </label>

      <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @fund.notes %></textarea>
    </div>

      <!-- Upload notes -->
      <div class="form-group">

      <form action="/create_user" method="post" class="form-horizontal" enctype="multipart/form-data">
        <label for="notes" class="control-label">
          Add Notes
        </label>
        <div class="col-sm-18">
        <input id="notes" input name="notes" type="file" class="form-control">
        <input type="submit" class="btn btn-danger" value="Add Notes" />
        </div>
      </form>
     </div>


    <a href="/create_favorite?fund_id=<%= @fund.id %>" method="post" class="btn btn-default btn-sm">
    Add to Favorites
    </a>
    </dl>

    <a href="/funds" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Back</a>
  </div>
</div>
